<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=jcookestorage;AccountKey=pUB632D3pby0oru86SCEPHy5LBem1ibCS7Sb9S+SdQ6O6VANxxozzQfKwu2hGtwgDmBoudMXa5oMyTS+xAEByA==;EndpointSuffix=core.windows.net" />
    <add key="Container" value="mapv7" />
    <add key="OutputFolder" value="C:\Users\jrcoo\Desktop" />
  </appSettings>
</configuration>