<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BingMapsKey" value="AmDUmdnCGcYVbFPjcFtQE6lU1epopLR3kvtKKvVeq3H9P3uD8kaQ77xazC2ABiQp" />
    <add key="RootMapFolder" value="C:\Users\jrcoo\Desktop\Map" />
    <add key="OutputFolder" value="C:\Users\jrcoo\Desktop" />
  </appSettings>
</configuration>